{% extends 'partials/base.html.twig' %}

{% block header %}
    <header>
      <div class="inner">
        <h1>Error!</h1>
        <h2>{{ page.title }}</h2>
      </div>
    </header>
{% endblock %}

{% block content %}
    <div class="lead text-center">
        <h1>Errror!</h1>
        {{ page.content }}
    </div>
{% endblock %}
