{% extends 'partials/base.html.twig' %}
{% do assets.addCss('theme://assets/css/layout-item.css', 90) %}
{% do assets.addCss('theme://assets/css/layout-sidebar.css', 90) %}
{% do assets.addCss('theme://assets/css/layout-flags.css', 90) %}

{% block content %}
          <h1><a name="description" class="anchor"></a>Choose language / Scegli la lingua</h1>
          <table class="flags" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td><a href="{{ url('en/' ~ active_product.short_name ~ '/index') }}"><img alt="English language" src="{{ url('theme://assets/images/flag-en-128.png') }}"><br>English</a></td>
                <td><a href="{{ url('it/' ~ active_product.short_name ~ '/index') }}"><img alt="Italian language" src="{{ url('theme://assets/images/flag-it-128.png') }}"><br>Italiano</a></td>
              </tr>
            </tbody>
          </table>
{% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.html.twig' %}
{% endblock sidebar %}
