{% extends 'item.html.twig' %}
{% do assets.addCss('theme://assets/css/layout-mbrola_voices.css', 90) %}

{% block content %}
          <div id="mbrola_voices">
    {{ page.content }}
          </div>
{% endblock %}
