{% extends 'partials/base.html.twig' %}

{% block content %}
  {% if page.header.summary %}
          <div class="title">{{ page.header.summary }}</div>
          <hr />
  {% endif %}
    {{ page.content }}
    <hr />
  {% include 'partials/social.html.twig' with { social_type:'google' } %}
  {% include 'partials/social.html.twig' with { social_type:'twitter' } %}
  {% include 'partials/social.html.twig' with { social_type:'disqus' } %}
{% endblock %}
